.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);

}

@media only screen and (max-width: 1150px) {
  .resp-header {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center;
    text-align: center; */
  }
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}

.tbbody {
  text-align: left;
  border: 1px solid #ddd;
  overflow: hidden;
}

.tbbody .header {
  background: #EFEFEF;
  text-transform: uppercase;
}

.tbbody .body {
  text-transform: capitalize;
}

.tbbody .header th {
  border: 1px solid #ddd;
  text-align: left;
}

.tbbody .body td {
  border: 1px solid #ddd;
}

.tbbody .body:hover {
  background: #EFEFEF;
}

/* Apply styles to number input */
input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

/* Remove spin buttons in Webkit browsers (Chrome, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the number input arrows in IE 10 and IE 11 */
input[type="number"] {
  -ms-inner-background: white;
}

@media screen and (max-width: 600px) {
  .MuiTab-root {
    min-width: auto !important;
  }
}

*::-webkit-scrollbar {
  display: none;
}