
.premium-cards0 {
    width: 100%; /* Set the width to 100% by default */
  }
  .homee-section {
    padding-left: 100px;
}
 
  @media (max-width: 1126px) {
    /* .card {
      width: 90%;
      margin: auto; 
    } */
  
    .premium-cards {
      width: 100%; 
    }
    .homee-section {
        padding-left: 0%;
        margin-left: 0%;
    }
  
    input {
      width: 100%;
    }
  }
  @media (max-width: 992px) {
    input{
        width: 50%;
    }
    
  }
  @media (max-width: 575px) {
    .carddd {
        flex-direction: column !important;
        margin-left: 0 !important;
        padding-left: 0 !important;
        width: 100% !important;
    }

    input {
        width: 100% !important;
        margin-left: 0 !important;
    }
    .dateyear{
      width: 100% !important;
      margin-left: 0 !important;
      padding-left: 0 !important;
      display: flex;
    }
    .add{
      width: 100% !important;
    }
}

@media screen and (min-width: 2000px) and (max-width: 5000px) {
  .buy-now-button{
    display: none;
  }
}
/* 1900 */
@media (max-width: 1900px) {
  .buy-now-button{
    display: none;
  }
}
/* 1800 */
@media (max-width: 1800px) {
  .buy-now-button{
    display: none;
  }
}



  /* 1680 */
@media (max-width: 1700px) {
  .buy-now-button{
    display: none;
  }
}

/* 1500 */
@media (max-width: 1680px) {
  .buy-now-button{
    display: none;
  }
}

/* 1440 */
@media (max-width: 1449px) {
  .buy-now-button{
    display: none;
  }
}

/* 1280 */
@media (max-width: 1439px) {
  .buy-now-button{
    display: none;
  }
}

/* 992 */
@media (max-width: 1279px) {
  .buy-now-button{
    display: none;
  }
}

/* 768 */
@media (max-width: 991px) {

}

/* 576 */
@media (max-width: 767px) {
  .buy-now-button{
    display: block;
  }
}

/* 525 */
@media (max-width: 575px) {}

/* 480 */
@media (max-width: 524px) {}

/* 425 */
@media (max-width: 479px) {}

/* 375 */
@media (max-width: 424px) {}

/* 320 */
@media (max-width: 374px) {}

/* 280 */
@media (max-width: 319px) {
  .nav-link{
    padding-left: 45px;
  }
  .leackage{
    flex-direction: column;
  display: flex;
  }
  .leackage-status{
    flex-direction: column;
  font-size: 10px;
  margin: 0;
    margin-bottom: 0px;
    margin-left: 0px;
  margin-left: -15px;
  }
}
