
.premium-cards0 {
    width: 100%; /* Set the width to 100% by default */
  }
  .homee-section {
    padding-left: 100px;
}
 
  @media (max-width: 1126px) {
    .card {
      width: 90%;
      margin: auto; 
    }
  
    .premium-cards {
      width: 100%; 
    }
    .homee-section {
        padding-left: 0%;
        margin-left: 0%;
    }
  
    input {
      width: 100%;
    }
  
    Button {
      width: 100%;
    }
  }
  @media (max-width: 992px) {
    input{
        width: 50%;
    }
    
  }
  