.texmt{
    font-family: "Poppins", sans-serif;
}

.swal-footer {
    text-align: center;
    padding-top: 13px;
    margin-top: 13px;
    padding: 13px 16px;
    border-radius: inherit;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .swal-text {
    font-size: 16px;
    position: relative;
    float: none;
    line-height: normal;
    vertical-align: top;
    text-align: left;
    display: inline-block;
    margin: 0;
      margin-top: 0px;
    padding: 0 10px;
    font-weight: 400;
    color: #152B51;
    max-width: calc(100% - 20px);
    overflow-wrap: break-word;
    box-sizing: border-box;
  }
  .swal-button {
    background-color: #152B51;
    color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 24px;
    margin: 0;
    cursor: pointer;
  }
  .swal-button:hover {
    background-color: #152B51 !important;
  }

  
/* media  */

/* 1680 */
@media (max-width: 5000px) {
    .nav-drop {
        display: none;
    }
}

@media (min-width: 1440px) and (max-width: 2000px) {

    /* Styles for viewport width between 1440px and 2000px */
    .nav-drop {
        display: none;
    }
}

@media (min-width: 2001px) and (max-width: 3000px) {

    /* Styles for viewport width between 2001px and 3000px */
    .nav-drop {
        display: none;
    }
}

/* And so on... */

@media (max-width: 1700px) {}

/* 1500 */
@media (max-width: 1680px) {}

/* 1440 */
@media (max-width: 1449px) {}

/* 1280 */
@media (max-width: 1439px) {
    .nav-drop {
        display: none;
    }
}

/* 992 */
@media (max-width: 1279px) {
    .main-nav {
        font-size: 12px;
        display: none;
    }

    .nav-drop {
        display: block;
    }

    .drop-items {
        padding-right: 30px;
    }
}

/* 768 */
@media (max-width: 991px) {}

/* 576 */
@media (max-width: 767px) {}

/* 525 */
@media (max-width: 575px) {}

/* 480 */
@media (max-width: 524px) {}

/* 425 */
@media (max-width: 479px) {}

/* 375 */
@media (max-width: 424px) {}

/* 320 */
@media (max-width: 374px) {}

/* 280 */
@media (max-width: 319px) {}